@inject ExploreCalifornia.Models.FormattingService Format
@model ExploreCalifornia.Models.Photo

<article class="blog-post">
    <!-- check parameters-->
    <h1>@Model.title</h1>
    <div class="content">
        <img src="/images/@(Model.fileName).jpg" alt="@Model.title" width="500" height="300">
    </div>

</article>