@inject ExploreCalifornia.Models.FormattingService Format
@model ExploreCalifornia.Models.Photo

<article class="blog-post">
    <!-- check parameters-->
    <h1>@Html.ActionLink(Model.title, "Photo", "Gallery")</h1>
    <div class="content">
       
    </div>

</article>